{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h1 class="text-gray-200 text-2xl font-medium">
                    <center><u>
                    Search Result
                </u>
                </center>
                </h1>
                <div class="flex justify-center  items-center min-w-full  movie_lis">
                    {% for mov in movie %}
                        <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                            <img src="{{mov.thumbnail.url}}" class="w-full h-full " alt="">
                            <h5 style="color:red; text-align:center">{{movie.title}}</h5>
                        </div>
                    </a>
                    {% endfor %}
                    

                    

                
                </div>
            </div>
        </section>
        
    </main>
    {% endblock content %}
