<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Video</title>
</head>
<body>
    <div class="container">
        <h1 ><center><u>Update your video</u></center></h1>
        <div >
                <a href="/">Home</a>&nbsp&nbsp
                <br>
                <br>

        </div>
        <!-- update -->
        <form id="contact" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Upload Video with Information</h1>
            <h3>Fill the form below and Hit the upload</h3>
            <br>
            {{form}}
            <br> 
            <br>
            <fieldset>
                <button type="submit" id="button">Upload</button>
            </fieldset>
        </form>
    </div>

</body>
</html>